@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.slide-in {
  animation: slideInLeft 0.5s ease-out forwards;
}

@keyframes qtip-animation {
  0% {
    opacity: 0;
    transform: scale(0.3);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.tooltip-animation {
  animation: 0.3s ease 1 normal forwards running qtip-animation;
}

@keyframes marquee {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

.marquee {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  animation: marquee 10s linear infinite;
}

.mine {
  padding: 1rem;
  border-radius: 0.75rem;
  animation: flash 1s forwards;
  animation-delay: 1s;
}

@media (max-width: 768px) {
  .mine {
    padding: 0.5rem;
  }
}

@keyframes flash {
  0% {
    background-color: transparent;
  }
  50% {
    background-color: #ffffff20;
  }
  100% {
    background-color: #ffffff10;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.effect-fade-in {
  animation: fadeInUp 0.5s ease-out forwards;
}

.logo-load {
  animation: logo-load 1.5s forwards;
}

@keyframes logo-load {
  0% {
    transform: scale(1.05);
  }

  60% {
    transform: scale(1);
    opacity: 1;
  }

  80% {
    transform: scale(0.6);
    opacity: 0;
  }

  to {
    opacity: 0;
  }
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
}

.blink {
  animation: blink 1s infinite;
}

@keyframes live-flash {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.live-flash {
  animation: live-flash 1s infinite;
}

@keyframes live-avatar {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  to {
    transform: scale(1);
  }
}

.live-avatar {
  animation: live-avatar 1s infinite;
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(-15deg);
  }
  40% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(-10deg);
  }
  80% {
    transform: rotate(6deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.shake-bell {
  animation: shake 0.8s ease-in-out infinite;
  transform-origin: top center;
}

@keyframes base-load {
  0% {
    opacity: 0;
  }

  to {
    opacity: 1;
    overflow: unset;
    height: auto;
  }
}

.base-load {
  animation: base-load 2s forwards;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  animation-delay: 1s;
}
